name: "ASH Security Scan Core"

permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write

inputs:
  ash-version:
    default: "main"
  ash-mode:
    default: "container"
  config:
    default: ""
  output-dir:
    default: ".ash/ash_output"
  fail-on-findings:
    default: true
  verbose:
    default: true
  ash-args:
    default: ""
  collect-sarif-report:
    default: true
  collect-junit-xml-report:
    default: true
  post-pr-comment:
    default: true
  repository-owner:
    default: ${{ github.repository_owner }}
  python-version:
    default: "3.12"

env:
  ASH_UVX_SOURCE: git+https://github.com/${{ github.repository }}@${{ github.sha }}
  ASH_OUTPUT_DIR: ${{ inputs.output-dir }}
  ASH_CONFIG: ${{ inputs.config }}

jobs:
  ash:
    name: "SAST, SCA, IaC Scan"
    runs-on: ubuntu-latest
    env:
      COLUMNS: 140
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Run ASH
        id: ash
        shell: bash
        env:
          ASH_MODE: ${{ inputs.ash-mode }}
          ASH_ARGS: ${{ inputs.ash-args }}
          FAIL_ON_FINDINGS_PARAM: ${{ inputs.fail-on-findings == 'true' && '--fail-on-findings' || '--no-fail-on-findings'}}
          VERBOSE: ${{ inputs.verbose }}
        run: |-
          uvx --from ${ASH_UVX_SOURCE} ash \
            --source-dir . --output-dir ${ASH_OUTPUT_DIR} ${ASH_ARGS} --no-progress ${FAIL_ON_FINDINGS_PARAM} --build-target ci --mode ${ASH_MODE} ${VERBOSE:+--verbose}

      - name: Show ASH Summary Report
        if: success() || failure()
        shell: bash
        run: |
          uvx --from ${ASH_UVX_SOURCE} ash \
            --output-dir "${ASH_OUTPUT_DIR}" report

      - name: Update step summary
        if: success() || failure()
        shell: bash
        run: |
          cat "${ASH_OUTPUT_DIR}/reports/ash.summary.md" >> "${GITHUB_STEP_SUMMARY}"
          tree "${ASH_OUTPUT_DIR}"

      - name: Post ASH MarkdownReporter output as PR comment
        uses: mshick/add-pr-comment@v2
        if: inputs.post-pr-comment && github.repository_owner == inputs.repository-owner && (success() || failure())
        continue-on-error: true
        with:
          message-path: ${{ inputs.output-dir }}/reports/ash.summary.md

      - name: Collect ASH output artifact
        uses: actions/upload-artifact@v4
        if: success() || failure()
        continue-on-error: true
        with:
          name: ash_output
          path: ${{ inputs.output-dir }}
          if-no-files-found: error

      - name: Publish JUnit Test Report
        uses: mikepenz/action-junit-report@v5
        if: inputs.collect-junit-xml-report && (success() || failure())
        continue-on-error: true
        with:
          report_paths: "**/ash.junit.xml"
          include_passed: true
          update_check: true
          check_name: "ASH Scan JUnit Test Report"
          summary: "Skipped means passing, suppressed, or ignored findings that are considered non-actionable."

      - name: Upload ASH SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: inputs.collect-sarif-report && (success() || failure())
        continue-on-error: false
        with:
          sarif_file: ${{ inputs.output-dir }}/reports/ash.sarif
          wait-for-processing: true
          category: ash
