name: "ASH Security Scan"

# Required permissions for SARIF uploads
permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write  # required for uploading SARIF to GitHub Advanced Security

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  ash-security:
    uses: ./.github/workflows/ash-security-scan.yml
    with:
      ash-mode: "container"
      ash-args: "--include S3-CFT.yaml"
      fail-on-findings: true
      collect-sarif-report: true
      collect-junit-xml-report: true
      post-pr-comment: true
      python-version: "3.12"
