name: Run ASH Security Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:   # allows manual run

jobs:
  ash-security:
    uses: ./.github/workflows/ash-security-scan.yml
    with:
      ash-mode: "container"
      fail-on-findings: true
      collect-sarif-report: true
      collect-junit-xml-report: true
      post-pr-comment: true
